<html>

<head>

    <title>Forgotpassword</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<style>
    body {
        background-color: #E4E9FD;
        background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
        height: 100%;
        font-family: 'helvetica neue';
    }
    
    .container {
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
</style>

<body>
    <br><br><br><br><br><br><br>
    <center>
        <div class="container">
            <form method="POST" class="setpasswordform">

                <label><b><strong>OTP:</strong></b></label>
                <br>
                <input type="password" name="otp" placeholder="OTP" required>
                <br><br>
                <label><b>SET NEW Password:</b></label>
                <br>
                <input type="password" name="password" class="p1" placeholder="PASSWORD" required>
                <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
                <br><br>
                <label><b>CONFIRM PASSWORD:</b></label>
                <br>
                <input type="password" name="password2" class="p2" placeholder="CONFIRMPASSWORD" required>

                <br><br>
                <button type="button" class="btn btn-primary setpasswordbtn">SET PASSWORD</button>
            </form>
        </div>
    </center>
    <script>
        document.querySelector(".setpasswordbtn").addEventListener("click", function() {
            if (document.querySelector(".p1").value === document.querySelector(".p2").value) {

                document.querySelector(".p2").style.borderColor = "green";
                document.querySelector(".setpasswordform").submit();

            } else {
                document.querySelector(".p2").style.borderColor = "red";
                alert("passwords notmatching");

            }
        });
        document.querySelector(".p2").addEventListener("input", function() {

            if (document.querySelector(".p1").value === document.querySelector(".p2").value) {

                document.querySelector(".p2").style.borderColor = "green";




            } else {
                document.querySelector(".p2").style.borderColor = "red";



            }
        });
        const password = document.querySelectorAll('.p1');

        togglePassword.addEventListener('click', function(e) {
            // toggle the type attribute
            const type = password[0].getAttribute('type') === 'password' ? 'text' : 'password';
            password[0].setAttribute('type', type);
            const typeo = password[1].getAttribute('type') === 'password' ? 'text' : 'password';
            password[1].setAttribute('type', typeo);
            // toggle the eye slash icon
            this.classList.toggle('fa-eye-slash');
        });
        <% for(let i=0;i<messages.length;i++){ %>
        alert("<%= messages[i] %>");
        <% } %>
    </script>
</body>


</html>