<html>

<head>
    <title>Forgotpassword</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


</head>
<style>
    /*body {
        background-color: #E4E9F7;
    }*/
    
    body {
        background-color: #E4E9FD;
        background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
        height: 100%;
        font-family: 'helvetica neue';
    }
    
    .container {
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
</style>

<body>


    <center>
        <form method="POST">

            <div class="container">
                <label>USERNAME:</label>
                <input type="text" name="username" placeholder="USERNAME" required>
                <br><br>



                <button type="submit" class="btn btn-primary">GENERATE OTP</button>
            </div>
        </form>
    </center>
    <script>
        <% for(let i=0;i<messages.length;i++){ %>
        alert("<%= messages[i] %>");
        <% } %>
    </script>
</body>


</html>